html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7a7979;
}
nav {
    background-color: #111;
    color: #fff;
    padding: 15px 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ff8c00;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
#lidar-canvas {
    width: 100%;
    height: 400px;
    border: 1px solid #333;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  p {
    line-height: 1.6;
    margin-bottom: 0px;
    }
    .footer {
    display: flex;
    justify-content: space-between; /* This will evenly distribute the logos */
    padding: 20px; /* Adjust as needed */
  }
    .footer-image {
    width: 100px; /* Adjust width as needed */
    height: auto; /* This maintains aspect ratio */
    }
    .livestream-container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .twitch-chat {
        width: calc(50% - 10px); /* Half the width of the container minus padding */
    }
    
    .twitch-chat iframe {
        border: none;
        height: 378px;
        width: 100%;
    }
