html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7a7979;
}
nav {
    background-color: #111;
    color: #fff;
    padding: 15px 20px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    margin-right: 20px;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ff8c00;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
#lidar-canvas {
    width: 100%;
    height: 400px;
    border: 1px solid #333;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  p {
    line-height: 1.6;
    margin-bottom: 25px;
    }
    .footer-image {
        width: 100px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
        position: fixed; /* Fixed position */
        bottom: 10px; /* Distance from the bottom */
        left: 10px; /* Distance from the left */
        }
  